body{
	background: #fff !important;
}
.header{
	padding-top: 20px;
	padding-bottom: 40px;
	/*height: 200px;*/
	overflow: hidden;
	background: #333;
}

.header input {
	transition: 0.6s;
	background: none !important;
}
.header input:focus {
	transition: 0.6s;
	background: #fff !important;
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	box-shadow: none !important;
}

.footer{
	background: #444;
	color: #fff;
	padding-top: 40px;
	padding-bottom: 40px;
}
#container{
	padding-top: 40px;
	padding-bottom: 40px;

}
.carousel{
	margin-bottom: 17px;
}
.carousel .item{
	background: #000;
}
.carousel .item img{
	opacity: 0.8;
}
.most-viewed{
	margin-top: 20px;
}
.section-title{
	margin-bottom: 30px;
}
/* box article */
.box-art{
	margin-bottom: 3rem;

}
.box-art a{
	text-decoration: none !important;
	overflow: hidden;
}
.box-art-views{
	background: #5391e1;
	/*border-radius: 0 3px 0  0;*/
	color: #fff;
	padding: 1rem;
	position: relative;
	top: 20px;
}
.box-art-img{
	border-radius: 3px 3px 0 0;
	width: 100%;
}
.box-art-title {
	color: #555;
	border: 1px solid #eee;
	border-top: none;
	margin: 0 !important;
	padding: 1rem;
	border-radius: 0 0 3px 3px;
	background: #fbfbfb;
}
.articles-all .box-art-title{
	min-height: 100px;
	font-size: 1.8rem;
	font-weight: normal;
}
.most-viewed .box-art-views{
	font-size: 1.1rem;
}
.most-viewed .box-art-title{
	min-height: 100px;
	font-size: 1.4rem;
}
.article-view article{
	background: #fbfbfb !important;
	border: 1px solid #eee;
	padding: 3rem;
	border-radius: 3px;
}
.article-view article h1{
	padding-bottom: 20px;
	border-bottom: 1px solid #ddd;
}
.article-view article h3{
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
}
.article-view article .article-info{
	padding-top: 10px;
	padding-bottom: 10px;
}
.article-view article .article-content{
	padding-top: 20px;
	padding-bottom: 20px;
}
.category-img{
	width: 100%;
	border: 1px solid #fff;
}